# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/

# Compiled output
build

# Runtime data
database.sqlite
pids
*.pid
*.seed
*.pid.lock

# Test coverage
coverage
.nyc_output

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors and IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# keys
**/keys/**

# some temp data
data.json
data/default
data/*.couch*
data/@2i/**
jobs/*/*.json

# Sensitive configuration
src/api/keys/google.json
src/api/keys/twilio.json
src/api/keys/tenants.json
.env
.env.*
!.env.example
env.example
env.production
env.local

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Build output
dist/